#render{
    width: 100%;
    height: 500px;
    border: solid 1px;
}

.media.list-group-item.p-4{
    overflow: hidden;
}

canvas{
    overflow: hidden;
}

.node-label {
    position: absolute;
    pointer-events: none;
    color: black;
    z-index: 10;
}